<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.blog.dao.mapper.CategoryMapper">


    <select id="findCategoryById" resultType="com.tian.blog.dao.pojo.Category">
        select * from ms_category where id = #{categoryId}
    </select>
</mapper>
